.main-nav {
  display: flex;
  flex-flow: row;
  padding: 0.5em;
  overflow: auto;
  
}
.nav-list {
  list-style-type: none;
  margin: 0;
  color: black;
  font-size: 30px;
  
  
}
.menu-hidden {
  display: none;
}
.menu-visible {
  display: flex;
  
}
.main-menu {
  flex-flow: row;
  
  
}
.sub-menu {
  flex-flow: row;
  
}
.nav-item {
  text-decoration: none;
  background-color: #27edff;
  border: 1px solid rgb(10, 137, 255);
  border-radius: 5px 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  line-height: 2em;
  float: center;
  

  color: black;
  
}

.nav-item:hover {
  background-color: rgb(202, 161, 98);
  border: 1px solid black;
  color: white;
}

.main-menu > li {
  min-width: 100px;
}
