.App-logo {
    height: 8vmin;
    pointer-events: none;
    
  }
  
  .App-logo2 {
    height: 8vmin;
    pointer-events: none;

  }

    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 7s linear;
        }
      }
      
      @media (prefers-reduced-motion: no-preference) {
        .App-logo2 {
          animation: App-logo2-spin infinite 7s linear;
        }
      }
      
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(-360deg);
        }
      }
      
      @keyframes App-logo2-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }